.div-fondo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: bisque;
	flex-direction: column;
}
.div-arriba {
	display: flex;
	background-color: aqua;
	width: 80%;
}
.div-fotos {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
}
.div-arribafoto {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}
.div-arribatexto {
	width: 70%;
}
.fotopfp {
	width: 140px;
	height: 140px;
	border-radius: 70px;
}
.div-arribatextoboton {
	display: flex;
	justify-content: space-between;
}
#cerrarperfil {
	background-color: rgb(255, 187, 224);
	margin-right: 15px;
	border-color: transparent;
	width: 85px;
	height: 30px;
	border-radius: 30px;
}
#editarperfil {
	background-color: rgb(255, 187, 224);
	margin-right: 15px;
	border-color: transparent;
	width: 85px;
	height: 30px;
	border-radius: 30px;
}
