* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.csstitulo {
	color: rgb(0, 0, 0);
	margin: 20px;
}

.wrapper-tarjeta {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: auto;
<<<<<<< HEAD
	background-color: aqua;
	border-radius: 10%;
=======
	background-color: white;
	border-radius: 10%;
	margin-top: 40px;
>>>>>>> 22e0a98b70b3c75bf9a609a5b226d90fe4dc2a1f
}

.ocultar {
	display: none;
}

.mostrar {
	display: block;
}
#btntoggle {
	width: 100px;
	height: 40px;
	border-color: transparent;
	background-color: white;
<<<<<<< HEAD
	margin-left: 10px;
	margin-top: 10px;
}
=======
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

@media (max-width: 600px) {
	.wrapper-tarjeta {
		width: 100%;
	}
}
>>>>>>> 22e0a98b70b3c75bf9a609a5b226d90fe4dc2a1f
