* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#whoto-container {
	margin-bottom: 10px;
	display: flex;
	width: 100%;
	justify-content: c;
	align-items: center;
	background-color: rgb(179, 147, 255);
}
#names {
	/* flex-grow: 10; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rebeccapurple;
}
.foto {
	/* flex-grow: 1; */
	height: 70px;
	width: 70px;
	border-radius: 40%;
}
#follow {
	/* flex-grow: 1; */
}
.deshabilitar {
	color: red;
}

.habilitar {
	color: black;
}
